In [1]:
import pandas as pd
df =pd.read_csv('news_context_&_structure_TS_sorted.csv')

In [3]:
df.head()

,session_start,session_size,click_timestamp,click_region,created_at_ts,words_count,category_26,category_66,category_136,category_186,...,283392,283505,284096,284583,285343,285377,288435,313920,337143,338339
0,0.000986,0.000000,0.000000,0.888889,0.00271,0.543590,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.000714,0.008197,0.000010,0.444444,0.00000,0.712821,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.000933,0.016393,0.000024,1.000000,0.00000,0.712821,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.000862,0.000000,0.000028,0.296296,0.00271,0.543590,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.000351,0.000000,0.000035,0.740741,0.00271,0.543590,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
len(df['app_category'].unique().tolist())

28

In [3]:
dataset = pd.get_dummies(df, columns=['article_id'])

In [5]:
for i in df.columns:
    print(i)

session_start
session_size
click_timestamp
click_region
created_at_ts
words_count
category_26
category_66
category_136
category_186
category_209
category_247
category_250
category_265
category_281
category_301
category_327
category_331
category_348
category_351
category_354
category_375
category_409
category_412
category_418
category_431
category_437
click_os_2
click_os_3
click_os_5
click_os_12
click_os_13
click_os_17
click_os_19
click_os_20
click_environment_1
click_environment_2
click_environment_4
click_deviceGroup_1
click_deviceGroup_2
click_deviceGroup_3
click_deviceGroup_4
click_deviceGroup_5
click_country_1
click_country_2
click_country_3
click_country_4
click_country_5
click_country_6
click_country_7
click_country_8
click_country_9
click_country_10
click_country_11
click_referrer_type_1
click_referrer_type_2
click_referrer_type_3
click_referrer_type_4
click_referrer_type_5
click_referrer_type_6
click_referrer_type_7
29953
39894
70591
87224
95972
96663
119592
123290
123818
123826
124176
140528
156625
158082
160474
160940
161425
182394
202557
206934
214800
215861
225019
225055
235132
236207
236338
236444
236951
276946
283392
283505
284096
284583
285343
285377
288435
313920
337143
338339

In [5]:
dataset.head()

,session_size,click_region,created_at_ts,words_count,category_26,category_66,category_136,category_186,category_209,category_247,...,article_id_283392,article_id_283505,article_id_284096,article_id_284583,article_id_285343,article_id_285377,article_id_288435,article_id_313920,article_id_337143,article_id_338339
0,0.000000,0.888889,0.00271,0.543590,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0.008197,0.444444,0.00000,0.712821,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0.016393,1.000000,0.00000,0.712821,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0.000000,0.296296,0.00271,0.543590,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0.000000,0.740741,0.00271,0.543590,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
col=[]
for columns in dataset.columns:
    if('article_id_' in columns):
        col.append(columns.replace('article_id_',''))
    else:
        col.append(columns)

In [7]:
col

['session_size',
 'click_region',
 'created_at_ts',
 'words_count',
 'category_26',
 'category_66',
 'category_136',
 'category_186',
 'category_209',
 'category_247',
 'category_250',
 'category_265',
 'category_281',
 'category_301',
 'category_327',
 'category_331',
 'category_348',
 'category_351',
 'category_354',
 'category_375',
 'category_409',
 'category_412',
 'category_418',
 'category_431',
 'category_437',
 'click_os_2',
 'click_os_3',
 'click_os_5',
 'click_os_12',
 'click_os_13',
 'click_os_17',
 'click_os_19',
 'click_os_20',
 'click_environment_1',
 'click_environment_2',
 'click_environment_4',
 'click_deviceGroup_1',
 'click_deviceGroup_2',
 'click_deviceGroup_3',
 'click_deviceGroup_4',
 'click_deviceGroup_5',
 'click_country_1',
 'click_country_2',
 'click_country_3',
 'click_country_4',
 'click_country_5',
 'click_country_6',
 'click_country_7',
 'click_country_8',
 'click_country_9',
 'click_country_10',
 'click_country_11',
 'click_referrer_type_1',
 'click_referrer_type_2',
 'click_referrer_type_3',
 'click_referrer_type_4',
 'click_referrer_type_5',
 'click_referrer_type_6',
 'click_referrer_type_7',
 '29953',
 '39894',
 '70591',
 '87224',
 '95972',
 '96663',
 '119592',
 '123290',
 '123818',
 '123826',
 '124176',
 '140528',
 '156625',
 '158082',
 '160474',
 '160940',
 '161425',
 '182394',
 '202557',
 '206934',
 '214800',
 '215861',
 '225019',
 '225055',
 '235132',
 '236207',
 '236338',
 '236444',
 '236951',
 '276946',
 '283392',
 '283505',
 '284096',
 '284583',
 '285343',
 '285377',
 '288435',
 '313920',
 '337143',
 '338339']

In [8]:
df_new = dataset
df_new.columns = col

In [9]:
df_new.head()

,session_size,click_region,created_at_ts,words_count,category_26,category_66,category_136,category_186,category_209,category_247,...,283392,283505,284096,284583,285343,285377,288435,313920,337143,338339
0,0.000000,0.888889,0.00271,0.543590,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0.008197,0.444444,0.00000,0.712821,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0.016393,1.000000,0.00000,0.712821,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0.000000,0.296296,0.00271,0.543590,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0.000000,0.740741,0.00271,0.543590,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
df_new.to_csv('news_data_article_one_hot.csv',index=None)